* {
  box-sizing: border-box;
}

body,
a {
  background-color: #252525;
  font-family: monospace;
  color: #fafafa;
}

.h1 {
  display: block;
  font-size: 2em;
  font-weight: bold;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin: 15px 0;
}

.h2 {
  font-size: 1.5em;
  font-weight: bold;
  display: block;
  margin: 15px 0;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
}

div {
  margin: 10px 0;
}

figure {
  margin: 10px 0;
}

img {
  width: 20%;
}

.botao {
  margin: 10px 0;
  cursor: pointer;
  padding: 1px 6px;
  text-align: center;
  border-width: 2px;
  border-color: buttonborder;
  background-color: buttonface;
  color: buttontext;
  font-family: Arial;
  font-size: 13.3333px;
}

figure {
  margin: 0;
}